<div id="<%= dom_id customer %>">

  <td>
    <%= link_to customer.first_name + ' ' + customer.last_name, customer_path(customer) %>
  </td>

  <td>
    <%= customer.phone %>
  </td>

  <td>
    <%= customer.email %>
  </td>

  <td>
    <%= number_to_currency(customer.products.sum(:total)) %>
  </td>

  <td>
    <% user = Customer.joins(:user).where(user: { id: customer.user.id }).pluck(:username).first %>
    <%= user.capitalize %>
  </td>
    
</div>