<div id="<%= dom_id customer %>">

  <td>
    <%= customer.first_name %>
  </td>

  <td>
    <%= customer.last_name %>
  </td>

  <td>
    <%= customer.phone %>
  </td>

  <td>
    <a>$</a><%= customer.products.sum(:total) %>
  </td>

  <td>
    <%= customer.user_id %>
  </td>
    
</div>