<br>
  <p>
    <strong>Product:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <span>$</span><%= product.price %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= product.quantity %>
  </p>

  <p>
    <strong>Total:</strong>
    <span>$</span><%= product.total %>
  </p>

  <p>
    <%= link_to "Delete", [product.customer, product], data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                },
                class:"btn btn-danger" %>
  </p>